
# Created by https://www.gitignore.io/api/stata
# Edit at https://www.gitignore.io/?templates=stata

### Stata ###
# .gitignore file for git projects containing Stata files
# Commercial statistical software: http://www.stata.com

# Stata dataset and output files
*.dta
*.gph
*.log
*.smcl
*.stpr
*.stsem

# Graphic export files from Stata
# Stata command graph export: http://www.stata.com/manuals14/g-2graphexport.pdf
#
# You may add graphic export files to your .gitignore. However you should be
# aware that this will exclude all image files from this main directory
# and subdirectories.
*.ps
*.eps
*.wmf
*.emf
*.pdf
*.png
*.tif




# End of https://www.gitignore.io/api/stata

# Created by https://www.gitignore.io/api/data
# Edit at https://www.gitignore.io/?templates=data

### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml

# End of https://www.gitignore.io/api/data


# Created by https://www.gitignore.io/api/microsoftoffice
# Edit at https://www.gitignore.io/?templates=microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

#Word Word
*.doc

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

#Excel Excel
*.xls
*.xlsx

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*


#Latex outputs
*.tex

#Other data formats
*.sav
*.tsv
*.rds

# Python pickles
*.pkl

*.arrow

*_immigscens.py
.DS_Store
.RData
.Rhistory
*.stats

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.asv

.*
!.Rprofile
!/.gitignore

.Rproj.user
*.Rproj
*.css
*.js
